body{
    display: grid;
    grid-template-columns: 1.25fr 3.75fr;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-main{
    background-color: #545871;
    height: 100%;
    color: #f7eceb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-main img{
    width: 100%;
}

.left-main h2{
    font-size: 1.25rem;
    text-align: center;
}


/* RIGHT BODY */

.right-main{
    background-color: #f7eceb;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid black;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.form h1{
    font-size: 2.5rem;
}